@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  /* To declare elements */
  --main-color: #8e44ad;
  --main-color2: #c658f6;
  --main-color3: #2b003d;
  --black: #23242a;
  --light-black: #777;
  --white: #ddd;
  --light-white: #fff9;
  --tael: #008080;
  --dark-green: #033327;
  --Very-dark-grayish-blue: #2f2e41;
  --btn-color: #3f3d56;
  --gray: #808080;
  --dark-gray: #252424;
  --sweet-black: #1b1a1a;
  --sweet-black2: #3f3f3f;
  --sweet-white: #ddd;
  --dark-blue: #152238;
  --sweet-yellow: #ee9b00;
  --yellow: #ffc300;
  --dark-white: #ddd;
  --border: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
}

html {
  font-size: 62.5%;
  /* overflow: hidden; */
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--light-white);
}

html::-webkit-scrollbar-thumb {
  background: var(--main-color3);
}

/* Global Variables Start */

section {
  padding: 5rem 10%;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
}

.headding {
  background-size: cover !important;
  background-position: center !important;
  padding-top: 10rem;
  padding-bottom: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headding h1 {
  font-size: 10rem;
  text-transform: uppercase;
  color: white;
  text-shadow: var(--text-shadow);
}

.btn {
  display: inline-block;
  background: #2c2d30;
  margin-top: 1rem;
  color: var(--white);
  font-size: 1.7rem;
  padding: 1rem 1.3rem;
  cursor: pointer;
  border-radius: 15px;
}

.btn:hover,body.dark .btn:hover {
  background: var(--main-color);
}

/* Global Variables End */

/* Home Start */
/* Header Start */
#header {
  display: flex;
  position: sticky;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  top: 0;
  left: 4rem;
  right: 0;
}

#header .logo {
  font-size: 2.5rem;
  color: var(--sweet-black);
}

#navbar {
  margin-left: 30rem;
}

#navbar a {
  position: relative;
  font-size: 2rem;
  font-weight: 600px;
  margin-left: 3rem;
  color: var(--sweet-black);
  transition: 0.3s ease;
}

#navbar a:hover,body.dark #navbar a:hover,
#navbar a.active,body.dark #navbar a.active{
  color: var(--main-color);
}

#menu-btn {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--sweet-black);
  display: none;
}

.use-pic {
  width: 3.5rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  margin-right: 6rem;
  top: 2rem;
  right: 6rem;
}

.sub-menu-wrab {
  position: absolute;
  top: 90%;
  right: 3%;
  width: 250px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrab.open {
  max-height: 400px;
}

.sub-menu {
  background: var(--light-white);
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.sub-menu-link p {
  width: 60%;
  color: var(--sweet-black);
  font-size: 2rem;
}

.sub-menu-link i {
  margin-right: 3rem;
  color: var(--sweet-black2);
  font-size: 2rem;
}

.sub-menu-link:hover i ,body.dark .sub-menu-link:hover i {
  color: var(--main-color);
}

.sub-menu-link span {
  font-size: 3rem;
  color: var(--sweet-black);
}

.sub-menu-link:hover p ,body.dark .sub-menu-link:hover p{
  transform: translateX(5px);
  transition: 0.3s;
  color: var(--main-color);
}

.sub-menu-link:hover span ,body.dark .sub-menu-link:hover span{
  transform: translateX(5px);
  transition: 0.3s;
  color: var(--main-color);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 5rem;
  border-radius: 50%;
  margin-right: 15px;
}

.user-info h2 {
  font-weight: 500;
}

/* Header End */

.home {
  padding: 0;
}

.home .slide {
  display: flex;
  text-align: center;
  align-items: center;
  /* padding: 2rem; */
  justify-content: center;
  background-size: cover !important ;
  background-position: center !important ;
  min-height: 45rem;
}

.home .slide .content {
  width: 85rem;
  display: none;
}

.home .swiper-slide-active .content {
  display: inline-block;
}

.home .slide .content span {
  display: block;
  font-size: 2.2rem;
  color: white;
  padding-bottom: 1rem;
  animation: fadeIn 0.2s linear backwards 0.2s;
}

.home .slide .content h3 {
  font-size: 5vw;
  color: white;
  text-transform: uppercase;
  line-height: 1;
  text-shadow: var(--text-shadow);
  padding: 1rem 0;
  animation: fadeIn 0.2s linear backwards 0.4s;
}

.home .slide .content .btn {
  animation: fadeIn 0.2s linear backwards 0.6s;
}

.home .swiper-button-next,
.home .swiper-button-prev {
  top: inherit;
  left: inherit;
  bottom: 0;
  right: 0;
  height: 4rem;
  width: 7rem;
  background: var(--sweet-white);
  color: var(--black);
}

.home .swiper-button-next:hover,body.dark .home .swiper-button-next:hover,
.home .swiper-button-prev:hover,body.dark .home .swiper-button-prev:hover{
  background: var(--main-color3);
  color: var(--white);
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after {
  font-size: 2rem;
}

.home .swiper-button-prev {
  right: 7rem;
}

/* Service Start */

.heading-title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 6rem;
  text-transform: uppercase;
}

.services{background: #ddd;}
.home-about{background: #ddd;}
.home-offer{background: #ddd;}
.home-packages .box-container .box{background: #d6d3d3;}
.home-packages .box-container .content:hover,body.dark .home-packages .box-container .content:hover{box-shadow: 0 4rem 5rem #18181f2e;}

.services .box-container {
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services .box-container img {
  width: 100px;
  height: 80px;
}

.services .box-container .box {
  padding: 3rem 2rem;
  background: var(--main-color);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.services .box-container .box:hover,body.dark .services .box-container .box:hover{
  background: var(--main-color2);
}

.services .box-container .box h3 {
  color: var(--sweet-white);
  font-size: 1.7rem;
  padding-top: 1rem;
}

/* Service End */

/* Home Start */

.home-about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.home-about .image {
  flex: 1 1 41rem;
}

.home-about .image img {
  width: 100%;
  border-radius: 10px;
}

.home-about .content {
  flex: 1 1 41rem;
  padding: 3rem;
  margin-left: 3rem;
  background: var(--dark-white);
  border-radius: 1rem;
}

.home-about .content h3 {
  font-size: 3rem;
  color: var(--black);
}

.home-about .content p {
  font-size: 1.6rem;
  padding: 1rem 0;
  line-height: 2;
  color: var(--black);
}

/* Home End */

/* Home Package Start */

.home-packages {
  background: var(--dark-white);
}

.home-packages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.home-packages .box-container .box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  background: var(--white);
}

.home-packages .box-container .image {
  height: 22rem;
  overflow: hidden;
}

.home-packages .box-container .box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.home-packages .box-container .box .content {
  padding: 1rem;
  text-align: center;
}

.home-packages .box-container .box .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.home-packages .box-container .box .content p {
  font-size: 1.5rem;
  color: var(--sweet-black);
  line-height: 2;
  padding: 1rem 0;
}

.home-packages .load-more {
  text-align: center;
  margin-top: 2rem;
}

/* Home Package End */

/* Home Offer Start */

.home-offer {
  text-align: center;
}

.home-offer .content {
  max-width: 70rem;
  background: #ddd;
  border-radius:1rem;
  padding: 3rem;
  margin: 0 auto;
}

.home-offer .content h3 {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--black);
}

.home-offer .content p {
  font-size: 1.5rem;
  color: var(--sweet-black);
  line-height: 2;
  padding: 1rem 0;
}

/* Home Offer End */

/* About Start */

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.about .image {
  flex: 1 1 41rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  flex: 1 1 41rem;
}

.about .content h3 {
  font-size: 3rem;
  color: var(--black);
}

.about .content p {
  font-size: 1.5rem;
  color: var(--sweet-black);
  line-height: 2;
  padding: 1rem 0;
}

.about .content .icon-container {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: flex-end;
}

.about .content .icon-container .icon {
  background: var(--dark-white);
  padding: 1rem;
  flex: 1 1 10rem;
}

.about .content .icon-container .icon i {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--main-color3);
  padding-left: 4rem;
}

.about .content .icon-container .icon span {
  text-align: center;
  font-size: 1rem;
  color: var(--sweet-black);
  display: block;
}

.reviews {
  background: var(--dark-white);
}

.reviews .slide {
  padding: 2rem;
  border: var(--border);
  background: var(--white);
  text-align: center;
  box-shadow: var(--box-shadow);
  user-select: none;
}

.reviews .slide .stars {
  padding-bottom: 0.5rem;
}

.reviews .slide .stars i {
  font-size: 1.7rem;
  color: var(--main-color3);
}

.reviews .slide p {
  font-size: 1.5rem;
  color: var(--sweet-black);
  line-height: 2;
  padding: 1rem 0;
}

.reviews .slide h3 {
  font-size: 2rem;
  color: var(--black);
}

.reviews .slide span {
  font-size: 1.5rem;
  color: var(--main-color3);
  display: block;
}

.reviews .slide img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-top: 1rem;
}

/* About End */

/* Footer Start */
.footer {
  background: #1b1a1a;
  background-position: center;
  background-size: cover;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

#box3 {
  margin-left: 50px;
}

.footer .box-container .box h3 {
  color: var(--white);
  font-size: 2rem;
  padding-bottom: 2rem;
}

.footer .box-container .box a {
  color: var(--light-white);
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
}

.footer .box-container .box a i {
  color: var(--main-color);
  padding-right: 0.5rem;
  transition: 0.2s linear;
}

.footer .box-container .box a:hover i ,body.dark .footer .box-container .box a:hover i{
  color: var(--main-color);
  padding-right: 2rem;
}

.footer .credit {
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: 0.1rem solid var(--light-white);
  font-size: 2rem;
  color: var(--sweet-white);
}

.footer span {
  color: var(--main-color);
}

/* Footer End */

/* Home End */

/* Media Queries Start */
@media (max-width: 1200px) {
  /* Home */
  section {
    padding: 3rem 5%;
  }

  #box3 {
    margin-left: 0px;
  }
}

@media (max-width: 991px) {
  /* Home */

  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }

  #box3 {
    margin-left: 0px;
  }

  .services .box-container {
    justify-content: center;
  }

  .services .box-container .box {
    margin: 15px 15px;
  }
}

@media (max-width: 786px) {
  #menu-btn {
    display: inline-block;
    transition: 0.2s linear;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  #navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--white);
    border-top: var(--border);
    padding: 2rem;
    transition: 0.2s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    margin-left: -1rem;
  }

  #navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: 1000;
  }

  #navbar a {
    display: block;
    margin: 2rem;
    text-align: center;
  }

  #box3 {
    margin-left: 0px;
  }
}

@media (max-width: 450px) {
  /* Home */

  html {
    font-size: 50%;
  }

  .use-pic {
    width: 3.5rem;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    margin-left: 2rem;
    bottom: 2.1rem;
    right: 1rem;
  }

  .sub-menu {
    margin-right: 7rem;
    margin-left: 2rem;
    padding-left: 2rem;
    margin-top: 0.9rem;
  }

  .sub-menu-wrab {
    right: -17.85%;
    width: 244px;
  }

  #box3 {
    margin-left: 0px;
  }

  .heading-title {
    font-size: 3rem;
  }

  .services .box-container .box {
    width: 100%;
  }

  .home-about .content {
    margin-left: 0;
  }

  /* About */

  .headding h1 {
    font-size: 5rem;
  }

  .about .content .icon-container .icon {
    padding: 0.6rem;
  }

  .about .content .icon-container .icon i {
    padding-left: 2.5rem;
  }
}

/* Media Queries End */

.ed
{
  transform: translateX(-5px);
}
.ed:hover,body.dark .ed:hover
{
  transform: translateX(+3px);
}

/* Dark */
body.dark{background: #23242a;}
body.dark .sub-menu{background:#23242a;color:#ddd;}
body.dark .sub-menu-link i{color:#ddd}
body.dark #menu-btn{color:#ddd;}
body.dark #header .logo{color:#ddd;}
body.dark .home-packages{background: #23242a;}
body.dark .services{background: #23242a;}
body.dark .home-about{background: #23242a;}
body.dark .home-offer{background: #23242a;}
body.dark .home-packages .box-container .box{background: #1e1f22;}
body.dark .home .swiper-button-next{color:#ddd;background:#23242a;}
body.dark .home .swiper-button-prev{color:#ddd;background:#23242a;}
body.dark .services .box-container{background:#23242a;}
body.dark .home-packages .box-container .box .content p{color: #ddd;}
body.dark .home-packages .box-container .box .content h3{color: #ddd;}
body.dark .sub-menu-link p{color:#ddd;}
body.dark .sub-menu-link span{color:#ddd;}
body.dark #navbar{background:#23242a;}
body.dark #navbar a{color:#ddd;}
body.dark #header{background:#23242a;}
body.dark h1{color:#ddd;}